.footer {
	padding: 36px 0 39px;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;
	}
	.nav {
		display: flex;
		&__list {
			display: flex;
			gap: 35px;
			max-width: 620px;
		}
		&__item {
			max-width: 130px;
		}
		&__link {
			color: var(--color-black);
			&--active {
				color: var(--color-blue);
				cursor: default;
			}
			&:hover {
				text-decoration: none;
				color: var(--color-blue);
			}
		}
	}
	@media (max-width: 1500px) {
		&__container {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}
	@media (max-width: 768px) {
		padding: 30px 0 26px;
		background-image: url("/merlioncloud/img/flower.svg");
		background-size: 338px auto;
		background-repeat: no-repeat;
		background-position: right -120px top 20px;
		&__container {
			flex-direction: column;
			align-items: flex-start;
		}
		.logo {
			max-width: 234px;
			width: 100%;
		}
		.nav {
			&__list {
				flex-direction: column;
				gap: 20px;
			}
		}
	}
}
