-
	let newsList = [
		{
			id: '005',
			date: '16 июня 2022', 
			title: 'Услуга аренды ИТ-оборудования или HaaS от MerlionCloud',
			url: '/merlioncloud/news/merlioncloud-vyvodit-na-rynok-novuyu-uslugu-arenda-vydelennoj-infrastruktury.html',
			announce: 'Совокупная стоимость владения (TCO) для выделенной инфраструктуры на 15-20% ниже закупки собственного оборудования в периоде от 3-х лет.', 
		},
		{
			id: '004',
			date: '14 июня 2022', 
			title: 'eXpress: новый облачный сервис от MerlionCloud',
			url: '/merlioncloud/news/merlioncloud-vyvodit-na-rynok-novuyu-uslugu-arenda-vydelennoj-infrastruktury.html',
			announce: 'Для быстрой корпоративной коммуникации без рисков.',
		},
		{
			id: '003',
			date: '17 мая 2022', 
			title: 'Облачные серверы для бизнеса от MerliOnCloud',
			url: '/merlioncloud/news/merlioncloud-vyvodit-na-rynok-novuyu-uslugu-arenda-vydelennoj-infrastruktury.html',
			announce: 'Гибкое решение в нескольких конфигурациях: в зависимости от необходимой мощности можно выбрать любой из шести действующих тарифов или собрать свой под технические требования проекта.',
		},
		{
			id: '002',
			date: '24 янв 2022', 
			title: '«Железо как сервис» на площадке заказчика: нюансы выбора',
			announce: 'CNews: генеральный менеджер компании MerliOnCloud Дмитрий Спиридонов и директор департамента инфраструктурных решений Hewlett Packard Enterprise в России Дмитрий Пенязь рассказали, что представляют собой новые услуги MerliOnCloud, в чем их особенности, и чем они отличаются от других подобных сервисов облачных провайдеров.',
			url: '/merlioncloud/news/merlioncloud-vyvodit-na-rynok-novuyu-uslugu-arenda-vydelennoj-infrastruktury.html'
		},
		{
			id: '001',
			date: '2 дек 2021', 
			title: 'MerliOnCloud выводит на рынок новую услугу - аренда выделенной инфраструктуры',
			announce: 'Для партнеров MERLION серверное решение Bare Metal предполагает два варианта сотрудничества и полное сопровождение со стороны MerliOnCloud.',
			url: '/merlioncloud/news/merlioncloud-vyvodit-na-rynok-novuyu-uslugu-arenda-vydelennoj-infrastruktury.html'
		}
	];
