.news-page,
.news-item-page {
	background-image: url("/merlioncloud/img/flower-big.svg"), url("/merlioncloud/img/flower.svg");
	background-position: right -1445px top -621px, right 118px top 569px;
	background-size: 2017px auto, 338px auto;
	background-repeat: no-repeat;

	@media (max-width: 1200px) {
		background-image: url("/merlioncloud/img/flower-big.svg");
		background-position: right -1765px top -621px;
		background-size: 2017px auto;
	}
	@media (max-width: 768px) {
		background-image: url("/merlioncloud/img/flower.svg");
		background-position: right -35px top 90px;
		background-size: 134px auto;
	}
}

.news-page {
	.news-main {
		padding: 50px 0 135px;
		&__title {
			margin: 0 0 20px;
		}
		&__list {
			max-width: 856px;
			margin: 0 0 30px;
		}
		&__item {
			padding: 40px 0;
			border-bottom: 1px solid var(--color-middle-grey);
			&:first-child {
				border-top: 1px solid var(--color-middle-grey);
			}
			&-date {
				color: var(--color-dark-grey);
				margin: 0 0 10px;
			}
			&-title {
				margin: 0 0 10px;
				a {
					color: var(--color-black);
					&:hover {
						color: var(--color-blue);
						text-decoration: none;
					}
				}
			}
		}
	}
	@media (max-width: 768px) {
		.news-main {
			&__item {
				&-date {
					font-size: var(--main-fontsize-mob);
				}
			}
		}
	}
}

.news-item-page {
	.news-item {
		padding: 60px 0 200px;
		&__content {
			display: flex;
			gap: 134px;
			justify-content: space-between;
		}
		&__inner {
			max-width: 856px;
		}
		&__title {
			margin: 0 0 30px;
		}
		&__date {
			color: var(--color-dark-grey);
			margin: 0 0 30px;
		}
		&__announce {
			margin: 0 0 30px;
		}
	}
	.news-sidebar {
		max-width: 306px;
		flex-shrink: 0;
		&__title {
			margin: 0 0 20px;
			a {
				color: var(--color-black);
				&:hover {
					color: var(--color-blue);
					text-decoration: none;
				}
			}
		}
		&__item {
			padding: 20px 0 10px;
			border-bottom: 1px solid var(--color-middle-grey);
			&:first-child {
				border-top: 1px solid var(--color-middle-grey);
			}
		}
		&__date {
			color: var(--color-dark-grey);
			margin: 0 0 10px;
		}
	}
	@media (max-width: 1200px) {
		.news-item {
			&__content {
				flex-direction: column;
				gap: 50px;
			}
		}
		.news-sidebar {
			max-width: 490px;
			flex-shrink: 1;
		}
	}
	@media (max-width: 768px) {
		.news-item {
			padding: 50px 0 40px;
		}
		.news-sidebar {
			&__title {
				font-size: var(--main-fontsize-mob);
			}
			&__date {
				font-size: var(--main-fontsize-mob);
			}
		}
	}
}
