.dedicated-page {
	.dedicated-top {
		background-image: url("/merlioncloud/img/server-dedicated.svg");
		background-size: 248px auto;
		background-repeat: no-repeat;
		background-position: right 56% bottom -238px;
		padding: 100px 0 140px;
		&__text {
			transform: translateY(20px);
			z-index: 2;
		}
		&__title {
			margin: 0 0 50px;
		}
		&__list {
			margin: 0 0 50px;
		}
		&__item {
			margin: 0 0 20px;
		}
		&__image {
			z-index: 1;
		}
	}
	.dedicated-action {
		padding: 80px 0 75px;
		&__title {
			margin: 0 0 20px;
		}
		&__subtitle {
			margin: 0 0 40px;
		}
	}
	.dedicated-configuration {
		background-image: url("/merlioncloud/img/flower.svg"), url("/merlioncloud/img/flower-big.svg"),
			url("/merlioncloud/img/flower-big.svg");
		background-size: 534px auto, 2017px auto, 2017px auto;
		background-repeat: no-repeat;
		background-position: left -10% top 242px, right -1180px top -340px, left -808px bottom -1320px;
		padding: 80px 0px;
		background-color: var(--color-light-blue);
		&__title {
			margin: 0 0 40px;
		}
		&__section {
			margin: 0 0 80px;
			&:last-child {
				margin: 0;
			}
		}
		&__card {
			padding: 86px 50px;
			background-color: var(--color-white);
			border-radius: 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 636px;
			width: 100%;
			transition: box-shadow 0.2s;
			margin: 0 auto;
			&:hover {
				transition: box-shadow 0.2s;
				box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
			}
			&-inner {
				max-width: 480px;
				width: 100%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			&-title {
				margin: 0 0 40px;
			}
			&-list {
				display: flex;
				flex-direction: column;
				margin: 0 0 50px;
			}
			&-item {
				display: flex;
			}
			&-property {
				color: var(--color-dark-grey);
				max-width: 36%;
				width: 100%;
				border-right: 1px solid var(--color-middle-grey);
				padding: 10px 20px 10px 0;
			}
			&-value {
				max-width: 64%;
				width: 100%;
				padding: 10px 0 10px 30px;
			}
			&-price {
				margin: 0 0 40px;
				.value {
					font-size: 40px;
					font-weight: 500;
					margin: 0 0 8px;
				}
				.vat {
					padding: 8px 0 0;
					color: var(--color-dark-grey);
				}
			}
		}
		.owl-carousel .owl-stage {
			display: flex;
			gap: 24px;
			justify-content: space-between;
			&:after {
				content: "";
				display: none;
			}
		}

		.owl-item {
			display: flex;
		}

		.owl-theme .owl-nav.disabled + .owl-dots {
			margin: 20px 0 0;
		}

		.owl-dot {
			span {
				background: var(--color-middle-grey) !important;
			}
			&.active {
				span {
					background: var(--color-blue) !important;
				}
			}
		}
	}
}
.haas-page {
	background-image: url("/merlioncloud/img/flower-big.svg");
	background-size: 1556px auto;
	background-repeat: no-repeat;
	background-position: left -1160px top 17%;
	.haas-top {
		padding: 90px 0 100px;
		.container {
			gap: 60px;
		}
		&__text {
			transform: translateY(0);
			flex: 1 0 556px;
		}
		&__image {
			padding: 0;
			img {
				transform: translateX(0) scale(1);
			}
		}
	}
	.haas-action {
		padding: 80px 0;
		text-align: center;
		&__title {
			max-width: 658px;
			margin: 0 auto 40px;
		}
	}
	.haas-tasks {
		padding: 80px 0 100px;
		background-image: url("/merlioncloud/img/abstract.png");
		background-size: 608px auto;
		background-position: right -60px top -240px;
		background-repeat: no-repeat;
		&__title {
			margin: 0 0 66px;
		}
		&__list {
			max-width: 966px;
		}
		&__item {
			font-weight: 500;
		}
	}
	.haas-bussiness {
		padding: 90px 0 110px;
		.dash {
			background-color: var(--color-white);
		}
		&__list {
			max-width: 746px;
		}
	}
	.haas-advantages {
		padding: 100px 0 60px;
		&__title {
			margin: 0 0 60px;
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
			gap: 70px;
		}
		&__item {
			margin: 0;
		}
	}
	.haas-types {
		padding: 60px 0 60px;
		&__title {
			margin: 0 0 40px;
		}
		&__list {
			display: grid;
			gap: 24px;
			grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
			justify-items: center;
		}
		&__item {
			border: 1px solid var(--color-middle-grey);
			border-radius: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			max-width: 240px;
			min-width: 240px;
			width: 100%;
			padding: 80px 34px 34px;
			text-align: center;
			transition: box-shadow 0.2s;
			&:hover {
				transition: box-shadow 0.2s;
				box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
			}
		}
		&__image {
			min-height: 74px;
			margin: 0 0 65px;
		}
	}
}
.vps-page {
	background-image: url("/merlioncloud/img/flower-big.svg");
	background-size: 1556px auto;
	background-repeat: no-repeat;
	background-position: right -1031px top -386px;
	.vps-top {
		padding: 90px 0 100px;
		&__title {
			margin: 0 0 40px;
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(2, minmax(330px, 1fr));
			gap: 24px 40px;
		}
		&__item {
			margin: 0;
		}
	}
	.vps-action {
		padding: 80px 0;
		&__title {
			margin: 0 0 20px;
		}
		&__subtitle {
			margin: 0 0 40px;
		}
	}
	.vps-rates {
		padding: 60px 0 190px;
		&__title {
			margin: 0 0 80px;
		}
		&__table {
			position: relative;
		}
		&__inner {
			overflow-x: auto;
			margin-left: 200px;

			padding: 0 0 40px;

			&::-webkit-scrollbar {
				width: 10px;
				height: 8px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: var(--color-red);
			}
			&::-webkit-scrollbar-track {
				background-color: var(--color-middle-grey);
			}
		}
		table {
			tr {
				display: flex;
			}
			td,
			th {
				display: block;
				padding: 15px 24px;
				min-height: 64px;
				min-width: 208px;
				width: 100%;
				border-left: 1px solid var(--color-middle-grey);
			}
			.headcol {
				position: absolute;
				width: 200px;
				left: 0;
				top: auto;
				min-height: 64px;
				padding: 15px 24px 15px 0;
				border-left: none;
				color: var(--color-dark-grey);
			}
			.rate_title {
				text-align: left;
				font-weight: 700;
			}
			.rate_price {
				white-space: nowrap;
			}
			.rate_price-value {
				font-weight: 500;
				font-size: 28px;
			}
			.rate_price-currency {
				font-size: 14px;
			}
		}
	}
}
.cloud-page {
	background-image: url("/merlioncloud/img/flower-big.svg"), url("/merlioncloud/img/flower.svg");
	background-position: left -1162px top 596px, left 45% top 564px;
	background-size: 1552px auto, 338px auto;
	background-repeat: no-repeat;
	.cloud-top {
		padding: 106px 0 102px;
	}
	.cloud-action {
		padding: 80px 0;
		text-align: center;
		&__title {
			max-width: 658px;
			margin: 0 auto 40px;
		}
	}
	.cloud-features {
		padding: 80px 0 100px;
		background-image: url("/merlioncloud/img/bagel.png");
		background-position: calc(100% + 109px) -225px;
		background-size: 737px auto;
		background-repeat: no-repeat;
		&__name {
			flex: 35%;
		}
		&__decription {
			flex: 65%;
		}
	}
	.cloud-benefits {
		padding: 80px 0 100px;
		&__title {
			margin: 0 0 40px;
		}
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 60px 11%;
		}
	}
}
@media (max-width: 1500px) {
	.dedicated-page {
		.dedicated-top {
			background-position: right 56% bottom -298px;
		}
	}
	.haas-page {
		.haas-tasks {
			background-position: right -208px top -240px;
			background-size: 534px auto;
		}
	}

	.cloud-page {
		.cloud-features {
			background-size: 500px auto;
		}
	}
}
@media (max-width: 1200px) {
	.cloud-page {
		background-image: url("/merlioncloud/img/flower-big.svg"), url("/merlioncloud/img/flower.svg");
		background-position: left -1162px top 596px, right 4% top 746px;
		.cloud-benefits {
			&__list {
				grid-template-columns: repeat(2, 1fr);
				gap: 60px 11%;
			}
		}
	}
	.dedicated-page {
		background-image: url("/merlioncloud/img/flower.svg");
		background-position: right -84px top 950px;
		background-size: 338px auto;
		background-repeat: no-repeat;
		.dedicated-top {
			background-position: right 34% bottom 436px;
			background-size: 122px auto;
			&__text {
				transform: translateY(0);
			}
		}

		.dedicated-configuration {
			&__card {
				padding: 40px 30px;
			}
		}
	}
	.haas-page {
		background-image: url("/merlioncloud/img/flower-big.svg"), url("/merlioncloud/img/flower.svg");
		background-size: 1556px auto, 338px auto;
		background-position: left -1160px top 17%, right 5% top 790px;
		.haas-top {
			padding: 90px 0 100px;
			.container {
				gap: 0;
			}
			&__text {
				flex: 0 1 50%;
			}
			&__image {
				padding: 5% 0;
				img {
					transform: translateX(0) scale(115%);
				}
			}
		}
		.haas-tasks {
			background-image: none;
		}
	}
	.vps-page {
		background-image: url("/merlioncloud/img/flower-big.svg"), url("/merlioncloud/img/flower.svg");
		background-size: 1556px auto, 338px auto;
		background-repeat: no-repeat;
		background-position: right -1031px top -386px, right 5% top 718px;
	}
}
@media (max-width: 1080px) {
	.dedicated-page {
		.dedicated-configuration {
			.owl-carousel .owl-stage {
				gap: 0;
			}
		}
	}
}
@media (max-width: 992px) {
	.cloud-page {
		.cloud-benefits {
			&__list {
				grid-template-columns: repeat(1, 1fr);
				gap: 40px;
			}
		}
	}
	.dedicated-page {
		.dedicated-configuration {
			background-image: none, url("/merlioncloud/img/flower-big.svg"), url("/merlioncloud/img/flower-big.svg");
		}
	}
}
@media (max-width: 768px) {
	.dedicated-page {
		background-position: right -84px top 740px;
		.dedicated-top {
			background-position: right 5% bottom 56vw;
			padding: 50px 0 60px;
			&__text {
				transform: translateY(0);
				margin: 0 0 30px;
			}
			&__title {
				margin: 0 0 40px;
			}
			&__list {
				margin: 0 0 40px;
			}
		}
		.dedicated-action {
			padding: 70px 0;
			&__title {
				margin: 0 0 30px;
			}
			&__subtitle {
				margin: 0 0 30px;
			}
		}
		.dedicated-configuration {
			padding: 60px 0;
			&__section {
				margin: 0 0 60px;
			}
			&__title {
				margin: 0 0 30px;
			}
			&__card {
				max-width: 496px;
				&-title {
					margin: 0 0 26px;
				}
				&-list {
					margin: 0 0 30px;
				}
				&-property {
					max-width: 50%;
				}
				&-value {
					max-width: 50%;
					padding: 10px 0 10px 20px;
				}
				&-price {
					margin: 0 0 30px;
					.value {
						font-size: 26px;
					}
				}
				.vat {
					padding: 4px 0 0;
					color: var(--color-dark-grey);
				}
			}
		}
	}
	.haas-page {
		background-image: url("/merlioncloud/img/flower.svg");
		background-position: right -90px top 646px;
		background-size: 338px auto;
		.haas-top {
			padding: 50px 0 60px;
		}
		.haas-action {
			padding: 70px 0;
		}
		.haas-tasks {
			padding: 60px 0;
			&__title {
				margin: 0 0 40px;
			}
		}
		.haas-bussiness {
			padding: 60px 0;
		}
		.haas-advantages {
			padding: 60px 0 40px;
			&__title {
				margin: 0 0 30px;
			}
			&__list {
				gap: 30px;
			}
		}
		.haas-types {
			padding: 40px 0 80px;
			&__title {
				margin: 0 0 30px;
			}
			&__list {
				gap: 20px;
				grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
			}
			&__item {
				max-width: 160px;
				min-width: 160px;
				padding: 36px 20px 40px;
			}
			&__image {
				margin: 0 0 26px;
			}
		}
	}
	.vps-page {
		background-image: url("/merlioncloud/img/flower.svg");
		background-size: 338px auto;
		background-repeat: no-repeat;
		background-position: right -100px top 649px;
		.vps-top {
			padding: 50px 0 60px;
			&__list {
				grid-template-columns: repeat(auto-fill, 250px);
				gap: 20px;
			}
		}
		.vps-action {
			padding: 70px 0;
			&__title {
				margin: 0 0 30px;
			}
			&__subtitle {
				margin: 0 0 30px;
				font-size: var(--main-fontsize-mob);
				font-weight: 400;
			}
		}
		.vps-rates {
			padding: 60px 0;
			&__title {
				margin: 0 0 22px;
			}
			&__inner {
				margin-left: 140px;
				padding: 0 0 20px 0;
			}
			&__table {
				table {
					td,
					th {
						min-width: 140px;
						padding: 10px;
						min-height: 60px;
					}
					.headcol {
						width: 140px;
						padding: 10px 10px 10px 0;
					}
					.rate_price-value {
						font-size: 22px;
					}
					.rate_btn {
						font-size: var(--main-fontsize-mob);
					}
				}
			}
		}
	}
	.cloud-page {
		background-image: url("/merlioncloud/img/flower.svg");
		background-position: right -90px top 520px;
		background-size: 338px auto;
		.cloud-top {
			padding: 50px 0 60px;
		}
		.cloud-action {
			padding: 70px 0;
		}
		.cloud-features {
			background: none;
			padding: 60px 0;
		}
		.cloud-benefits {
			padding: 60px 0;
			&__list {
				gap: 30px;
			}
		}
	}
}
@media (max-width: 360px) {
	.dedicated-page {
		.dedicated-top {
			background-image: none;
		}
	}
}
