extends ../base

block vars
	-var pageName = 'not-found-page'
	-var pageTitle = "Страница не найдена | MerlionCloud"
	-var pageDescription = "К сожалению, запрашиваемая Вами страница не найдена"
	-var pageKeywords = 'MerlionCloud'
block content
	main.main
		section.not-found
			.not-found__container.container
				.not-found__inner
					h1.not-found__title 404
					h2.not-found__subtitle К&nbsp;сожалению, запрашиваемая Вами страница не&nbsp;найдена
					ul.not-found__links 	
						li.not-found__links-item
							a.btn(href="/merlioncloud/") Главная

						li.not-found__links-item
							a.btn(href="news.html") Новости

						li.not-found__links-item
							a.btn(href="contacts.html") Контакты
