extends ../base

block vars
	-var pageName = 'about-page'
	-var pageTitle = 'О компании | MerlionCloud'
	-var pageDescription = 'Мы представляем абсолютно весь спектр услуг от базовых аренды оборудования или инфраструктуры до полноценного сопровождения проектов'
	-var pageKeywords = 'MerlionCloud'
block content
		main.main
			section.about-section
				.about-section__container.container
					.about-section__text
						h1.title Облако MerlionCloud<br>Это просто
						span.line-separated(aria-hidden="true")
						p.text Существует мнение, что облачные технологии &mdash;&nbsp; это история сложная, понятная только для&nbsp;определённых специалистов, работающих в&nbsp;ИТ-отрасли. Мы же считаем, что облачные технологии, которые  окружают нас здесь и&nbsp;сейчас, доступны абсолютно всем. Приходите &mdash;&nbsp; поможем разобраться.
					.about-section__image
						img(src="/merlioncloud/img/about-image-01.webp", alt="Облако MerlionCloud - это просто" aria-hidden="true")
			section.about-section.about-section_color.background-gradient
				.about-section__container.container
					.about-section__text
						h2.title.h1 Облако MerlionCloud<br>Не только облако
						span.line-separated.line-separated--white(aria-hidden="true")
						p.subtext Облачные технологии &mdash;&nbsp; это очень широкое понятие, суть которого заключается не только в&nbsp;самих технологиях, но&nbsp;и&nbsp;в экономическом аспекте
						p.h3 Поэтому, мы представляем абсолютно весь спектр услуг &mdash;&nbsp; от&nbsp;базовых аренды оборудования или&nbsp;инфраструктуры (Hardware-as-a-Service, Infrastructure-as-a-Service) до&nbsp;полноценного сопровождения проектов с&nbsp;облачным ПО или&nbsp;контейнерами (Software-as-a-Service, Platform-as-a-Service)
			section.about-section
				.about-section__container.container
					.about-section__text
						h2.title.h1 Облако MerlionCloud<br>Постоянное развитие
						span.line-separated(aria-hidden="true")
						p.subtext Мы хорошо понимаем, что постоянно растущие объемы данных и&nbsp;сложность их&nbsp;обработки накладывают существенные требования к&nbsp;оборудованию и&nbsp;ПО.
						p.h3 Именно поэтому мы используем только новое оборудование Enterprise-уровня. Никакого бывшего в&nbsp;употреблении и&nbsp;восстановленного оборудования. Мы не экономим на&nbsp;наших клиентах.
					.about-section__image
						img(src="/merlioncloud/img/about-image-02.webp", alt="Облако MerlionCloud - постоянное развитие" aria-hidden="true")
			section.about-section.about-section_color.background-gradient.text-white
				.about-section__container.container
					.about-section__text
						h2.title.h1 Облако MerlionCloud<br>Эффективность в&nbsp;каждом аспекте
						span.line-separated.line-separated--white(aria-hidden="true")
						p.h3 Мы выступаем как единый бесшовный поставщик ИТ-инфраструктуры (облако, выделенное оборудование или&nbsp;долгосрочная аренда). 
						p.h3 Наш технический департамент постоянно наготове &mdash;&nbsp; можно быть уверенным в&nbsp;слаженной работе команд и&nbsp;бизнес-процессом.
