extends ../base
block vars
	-var pageName = 'main-page'
	-var pageTitle = 'MerlionCloud — провайдер облачных серверов и услуг'
	-var pageDescription = 'Облако MerlionCloud — эффективность в каждом аспекте'
	-var pageKeywords = 'MerlionCloud'
block content
		main.main
			section.main-top
				.main-top__container.container
					.main-top__content
						h1.main-top__title.title Провайдер облачных<br>серверов и&nbsp;услуг
						ul.main-top__list.arrow-list
							li.main-top__item.arrow-list__item
								a.main-top__link.arrow-list__link(href=linkHaas)
									svg(aria-hidden="true")
										use(xlink:href="#arrow")
									| Аренда оборудования HaaS
							li.main-top__item.arrow-list__item
								a.main-top__link.arrow-list__link(href=linkDedicated)
									svg(aria-hidden="true")
										use(xlink:href="#arrow")
									| Выделенные серверы Dedicated
							li.main-top__item.arrow-list__item
								a.main-top__link.arrow-list__link(href=linkVps)
									svg(aria-hidden="true")
										use(xlink:href="#arrow")
									| Облачные серверы VPS/VDS
							li.main-top__item.arrow-list__item
								a.main-top__link.arrow-list__link(href=linkCloud)
									svg(aria-hidden="true")
										use(xlink:href="#arrow")
									| Облако
					.main-top__sticker.sticker
						.sticker__text ЦОД находится на<br>территории России
			section.separation
			section.services.features-block
				.services__container.container
					.services__header.features-block__header
						.services__title.features-block__title
							p Наши услуги
						.services__counter.features-block__counter(aria-hidden="true") 
							| 01
							span.dash 
							| 04
					ul.services__list.features-block__list
						li.services__item.features-block__item
							.services__name.features-block__name
								h2 Аренда оборудования HaaS
							.services__description.features-block__description
								| Долгосрочная аренда от&nbsp;1 года до&nbsp;5 лет, физического оборудования: серверы, СХД, сетевое оборудование, CCTV; c ежемесячными фиксированными платежами на&nbsp;весь срок аренды
						li.services__item.features-block__item
							.services__name.features-block__name
								h2 Выделенные серверы Dedicated
							.services__description.features-block__description
								| Аренда оборудования в&nbsp;дата-центре провайдера, без&nbsp;виртуализации, все ресурсы сервера полностью используются одним заказчиком
						li.services__item.features-block__item
							.services__name.features-block__name
								h2 Облачные серверы VPS/VDS
							.services__description.features-block__description
								| Виртуальный сервер на&nbsp;высокопроизводительном оборудовании, все процессы, происходящие внутри виртуального сервера, полностью независимы от&nbsp;других серверов
						li.services__item.features-block__item
							.services__name.features-block__name
								h2 Облако
							.services__description.features-block__description
								| Предоставление ИТ-инфраструктуры в&nbsp;качестве подключаемой услуги
			include ../block/consultation-form