extends ../../base

block vars
	-var pageName = 'haas-page'
	-var pageTitle = "HaaS от MerlionCloud — IT-оборудование как услуга | MerlionCloud"
	-var pageDescription = "Серверы, СХД, Сетевое оборудование и ПО, в составе комплексных решений или отдельно, без значительных первоначальных инвестиций"
	-var pageKeywords = 'MerlionCloud'
block content
		main.main
			section.haas-top.top-block
				.haas-top__container.container
					.haas-top__text.top-block__text
						h1.haas-top__title.top-block__title.h2.title HaaS от&nbsp;MerliOnCloud &mdash;&nbsp;<nobr>IT-оборудование</nobr> как услуга
						p.haas-top__description.top-block__description Серверы, СХД, Сетевое оборудование и&nbsp;ПО, в&nbsp;составе комплексных решений или&nbsp;отдельно, без&nbsp;значительных первоначальных инвестиций.<br><br>Оплата за&nbsp;сервис происходит из&nbsp;текущего денежного потока компании, открывая дополнительные возможности для&nbsp;бизнеса, при&nbsp;совокупном снижении стоимости владения IT инфраструктурой.
					.haas-top__image.top-block__image
						img(src="/merlioncloud/img/haas-image.webp", alt="HaaS от MerliOnCloud", aria-hidden="true")
			section.haas-action.background-gradient
				.haas-action__container.container 	
					h2.haas-action__title Не тратьте ресурсы на&nbsp;устаревшие технологии и&nbsp;их&nbsp;поддержание
					button.haas-action__button.transparent-btn(data-src="popup") 
						| Получить консультацию
						svg(aria-hidden="true")
							use(xlink:href="#arrow")
			section.haas-tasks
				.haas-tasks__container.container 
					h2.haas-tasks__title.title Для каких задач подходит HAAS?
					ul.haas-tasks__list.counter-list 
						li.haas-tasks__item.counter-list__item.h3 Повышение отказоустойчивости за&nbsp;счет быстрого обновления или&nbsp;модернизации инфраструктуры
						li.haas-tasks__item.counter-list__item.h3 Прозрачность и&nbsp;предсказуемость расходов на&nbsp;IT без&nbsp;первоначальных затрат
						li.haas-tasks__item.counter-list__item.h3 Оптимизация процессов, стандартизация, высвобождение человеческих ресурсов для&nbsp;решения верхнеуровневых задач
						li.haas-tasks__item.counter-list__item.h3 Ускорение выхода на&nbsp;рынок новых продуктов благодаря использованию современных технологий
						li.haas-tasks__item.counter-list__item.h3 Повышение безопасности бизнеса
			section.haas-bussiness.features-block.background-gradient
				.haas-bussiness__container.container
					.haas-bussiness__header.features-block__header
						.haas-bussiness__title.features-block__title
							p Бизнесу
						.haas-bussiness__counter.features-block__counter(aria-hidden="true") 
							| 01
							span.dash 
							| 03
					ul.haas-bussiness__list.features-block__list
						li.haas-bussiness__item.features-block__item
							.haas-bussiness__name.features-block__name
								h2 Малому бизнесу
							.haas-bussiness__description.features-block__description
								| Заменяет лизинг и&nbsp;подходит в&nbsp;случае ограничения денежных средств
						li.haas-bussiness__item.features-block__item
							.haas-bussiness__name.features-block__name
								h2 Средним предприятиям
							.haas-bussiness__description.features-block__description
								| Позволяет сбалансировать бюджеты и&nbsp;получить упорядоченный и&nbsp;согласованный сервис, максимизировать свою прибыль
						li.haas-bussiness__item.features-block__item
							.haas-bussiness__name.features-block__name
								h2 Крупным предприятиям
							.haas-bussiness__description.features-block__description
								| Упрощает бизнес-процесс, получает новую ИТ-инфраструктуру, полный контроль и&nbsp;техподдержку
			section.haas-advantages 	
				.haas-advantages__container.container 	
					h2.haas-advantages__title.title Преимущества
					ul.haas-advantages__list.checkbox-list 
						li.haas-advantages__item.checkbox-list__item.h3 
							svg(aria-hidden="true")
									use(xlink:href="#checkbox")
							| Только новое оборудование
						li.haas-advantages__item.checkbox-list__item.h3 
							svg(aria-hidden="true")
									use(xlink:href="#checkbox")
							| Возможность выкупа оборудования
						li.haas-advantages__item.checkbox-list__item.h3 
							svg(aria-hidden="true")
									use(xlink:href="#checkbox")
							| IT из&nbsp;одного окна
						li.haas-advantages__item.checkbox-list__item.h3 
							svg(aria-hidden="true")
									use(xlink:href="#checkbox")
							| Экономическая эффективность
						li.haas-advantages__item.checkbox-list__item.h3 
							svg(aria-hidden="true")
									use(xlink:href="#checkbox")
							| ИТ-оборудование любого типа и&nbsp;производителя
						li.haas-advantages__item.checkbox-list__item.h3 
							svg(aria-hidden="true")
									use(xlink:href="#checkbox")
							| Оптимизация налогооблагаемой базы на&nbsp;прибыль, зачет НДС
			section.haas-types
				.haas-types__container.container 	
					h2.haas-types__title.title Типы арендуемого оборудования
					ul.haas-types__list 
						li.haas-types__item
							img.haas-types__image(src="/merlioncloud/img/equipment-image-01.svg", alt="Серверное оборудование", aria-hidden="true")
							p.haas-types__name Серверное оборудование
						li.haas-types__item
							img.haas-types__image(src="/merlioncloud/img/equipment-image-02.svg", alt="Сетевое оборудование", aria-hidden="true")
							p.haas-types__name Сетевое оборудование
						li.haas-types__item
							img.haas-types__image(src="/merlioncloud/img/equipment-image-03.svg", alt="Системы хранения данных", aria-hidden="true")
							p.haas-types__name Системы хранения данных
						li.haas-types__item
							img.haas-types__image(src="/merlioncloud/img/equipment-image-04.svg", alt="Программное обеспечение", aria-hidden="true")
							p.haas-types__name Программное обеспечение
						li.haas-types__item
							img.haas-types__image(src="/merlioncloud/img/equipment-image-05.svg", alt="Системы видеонаблюдения", aria-hidden="true")
							p.haas-types__name Системы видеонаблюдения
			include ../../block/consultation-form
			include ../../block/popup-form