extends includes/base

block vars
	-var pageName = 'news-page'
	-var pageTitle = "Новости | MerlionCloud"
	-var pageDescription = "Актуальные новости и пресс-релизы"
	-var pageKeywords = 'MerlionCloud'
block content
		main.main
			section.news-main
				.news-main__container.container
					h1.news-main__title.h2 Новости
					.news-main__list
						-
							let newsContent = [
								{
									date: '16 июня 2022', 
									title: 'Услуга аренды ИТ-оборудования или HaaS от MerlionCloud',
									announce: 'Совокупная стоимость владения (TCO) для выделенной инфраструктуры на 15-20% ниже закупки собственного оборудования в периоде от 3-х лет.', 
									url: 'news-item.html'
								},
								{
									date: '14 июня 2022', 
									title: 'eXpress: новый облачный сервис от MerlionCloud',
									announce: 'Для быстрой корпоративной коммуникации без рисков.',
									url: 'news-item.html'
								},
								{
									date: '17 мая 2022', 
									title: 'Облачные серверы для бизнеса от MerliOnCloud',
									announce: 'Гибкое решение в нескольких конфигурациях: в зависимости от необходимой мощности можно выбрать любой из шести действующих тарифов или собрать свой под технические требования проекта.',
									url: 'news-item.html'
								},
								{
									date: '24 янв 2022', 
									title: '«Железо как сервис» на площадке заказчика: нюансы выбора',
									announce: 'CNews: генеральный менеджер компании MerliOnCloud Дмитрий Спиридонов и директор департамента инфраструктурных решений Hewlett Packard Enterprise в России Дмитрий Пенязь рассказали, что представляют собой новые услуги MerliOnCloud, в чем их особенности, и чем они отличаются от других подобных сервисов облачных провайдеров.',
									url: 'news-item.html'
								},
								{
									date: '2 дек 2021', 
									title: 'MerliOnCloud выводит на рынок новую услугу - аренда выделенной инфраструктуры',
									announce: 'Для партнеров MERLION серверное решение Bare Metal предполагает два варианта сотрудничества и полное сопровождение со стороны MerliOnCloud.',
									url: 'news-item.html'
								}
							];
						each element in newsContent 	
							.news-main__item
								.news-main__item-date #{element.date} 
								.news-main__item-title
									a.h3.title(href=element.url) #{element.title}
								.news-main__item-announce
									p #{element.announce}
					.pages
						button.pages-btn.pages-btn-prev
							svg(aria-hidden="true")
								use(xlink:href="#arrow-middle")
							span Назад
						.pages-field
							button.pages-field__item 1
							button.pages-field__item.pages-field__item--active 2
							button.pages-field__item 3
							.pages-field__points(aria-hidden="true")
							button.pages-field__item 19
						button.pages-btn.pages-btn-next 
							span Вперед
							svg(aria-hidden="true")
								use(xlink:href="#arrow-middle")
